<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.letlink.webinterface.datamapper.DomainMapper">
	<sql id="full_cols">domain_id, name, alias, isCrawling, comment</sql>
	<resultMap type="Domain" id="domainResultMap">
		<id property="domainID" column="domain_id"/>
		<result property="name" column="name"/>
		<result property="alias" column="alias"/>
		<result property="comment" column="comment"/>
		<result property="isCrawling" column="isCrawling"/>
	</resultMap>
	
	
	
</mapper>