@CHARSET "UTF-8";

/*-------------------- Layout -----------------------*/
body {
	background: #6595A3;
	display: block;
	padding: 10px 20px;
	margin: 0;
	font-size: 100%;
	line-height: 162%;
	min-height: inherit;
}

h1 {
	font: 26px tahoma, arial;
	color: #324143
}

h3 {
	font: 16px tahoma, arial;
	color: #324143
}

p {
	font: 12px tahoma, arial;
	color: #171F26;
	margin-bottom: 25px
}

a {
	color: #324143
}

div.wrapper {
	margin: 40px auto 0 auto;
	padding: 20px 35px;
	background: #FCFFED;
 	min-width: 650px;
 	height: 752px;
}

div.wrapper .header h1 a {
	font: 26px tahoma, arial;
	color: #324143;
	text-decoration: none;
}

div.wrapper .header p.welcome_bar {
	width: 30%;
	margin-top: 5px;
	padding: 2px;
	position: relative;
	left: 70%;
}

div.wrapper .header p.welcome_bar a {
	color: #324143;
	text-decoration: none;
	font: 1em tahoma, arial;
	font-weight: 600;
}

.wrapper .main {
	margin: 20px auto;
	padding: 5px 5px;
	text-align: left;
}

.wrapper .main table {
	border: 1px solid;
	padding: 5px;
	margin: 5px;
	border-spacing: 1px solid #696969;
	border-collapse: collapse;
	caption-side: top;
}

.wrapper .main table thead {
	background-color: #778899;
}

.wrapper .main table thead td {
	text-align: center;
	vertical-align: center;
	padding: 5px;
	border: 1px solid #696969;
}

.wrapper .main table tbody td {
	text-align: left;
	vertical-align: center;
	padding: 1px 5px;
	border: 1px solid #696969;
}

#copyright {
	background: #B6C28B;
	border-top: 1px dashed #DDD;
	margin: 0 auto;
	padding: 20px 35px;
	min-width: 650px; 
	font: 12px tahoma, arial;
	color: #324143;
}

#copyright span {
	float: center;
}

#copyright span a {
	color: #324143;
}

#copyright span a:hover {
	color: #171F26;
}

/*-------------------- menu --------------------*/
.clear {
	clear: both;
	overflow: hidden;
	height: 0
}

#jsddm {
	margin: 0;
	padding: 0
}

#jsddm li {
	float: left;
	list-style: none;
	font: 14px Tahoma, Arial;
	width: 20%;
}

#jsddm li a {
	display: block;
	background: #324143;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	color: #EAFFED;
	white-space: nowrap
}

#jsddm li a:hover {
	background: #24313C
}

#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	text-align: left;
}

#jsddm li ul li {
	float: none;
	display: inline
}

#jsddm li ul li a {
	width: 150px;
	background: #A9C251;
	color: #24313C
}

#jsddm li ul li a:hover {
	background: #8EA344
}

/*-------------------- login --------------------*/
form {
	float: center;
}

label.basic_label {
	width: 86px;
}

label.input_tip {
	font-size: 0.6em;
	font-color: #D3D3D3;
	line-height: 60%;
}

label.error_tip {
	display: none;
	color: red;
}