@CHARSET "UTF-8";

/*-------------------- Layout -----------------------*/
div.header {
	font-size: 10px;
	font-family: verdana;
	margin: 5px;
	border: 5px;
	position: absolute;
	top: 10px;
	text-align: center;
}

div.menu {
	position: relative;
	top: 10px;
}

div.main {
	
}

div.footer {
	
}

/*-------------------- component --------------------*/
form#login_form {
	position: absolute;
	top: 20%;
	left: 40%;
	right: 20%;
}

label.basic_label {
	width: 86px;
}



label.input_tip {
	display: none;
	color: red;
}